
/***********************************************************
■ Basic : 기본
************************************************************/
*{margin: 0; padding: 0; }
ul,ol,li{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: #26282B;}



/***********************************************************
■ Layout : 레이아웃
************************************************************/

#thema_wrapper{
    width: 100%;
}

#At-header{
    width: 100%;
    height: 1100px;
    /* background-color: rgb(140, 166, 196);    */
    /* background-image: url(img/index/bg_on.png);  */
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
#At-header >.bg_on{
    position: absolute;
    width: 100%;
    height: 1100px;
}

.header_inner{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255,0.7);
    display: flex;
    justify-content:space-around; 
    align-items: center;
    padding: 8px 12px;
    
}

.logo img{
    height: 100%;
    width: 150px;
    
 }

.navbar_menu ul{
    display: flex;
    
}

.navbar_menu li{
    padding: 8px 20px;;
    font-weight: bold;
    
}

.navbar_icons{
    display: flex;
}

.navbar_icons li{
    padding: 10px 12px;
}

#header_main{
    width: 1500px;
    height: 100%;
    margin: 0 auto;

}

#header_main>.text_wrap{
    width: 1300px;
    height: 100%
   
}

.text_wrap>.large{
    position: absolute;
    max-width: 100%;
    height: 500px;
    /* border: 2px solid black; */
    margin: 550px auto;
    text-align: center;
}


.text_wrap>.large>h1{
    font-size: 100px;
    font-weight: bold;
    margin: 10px auto;
    color: rgba(255, 255, 255, 0.9);
    /* position: fixed; */
}

.text_wrap>.large>p{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: white;
}




/*******************공통 inner***************/

.inner{ 
    max-width: 1500px; 
    height: 100%;
    border: 1px solid white; 
    margin: 0 auto;
    
}

/*******************Why_Yogibo***************/


#main{
    box-sizing: border-box;
    background-color: #26282B;
}


.Why_Yogibo .inner{ 
    background-color: #272727; 
    background-color: #26282B;
    height: 500px;
    margin: 0 auto;

}

.Why_Yogibo h1{
    max-width: 100%;
    /* border: 1px solid beige; */
    font-size: 50px;
    padding: 80px 0 0 100px;
    color: #58b5ca; 
    
    
}

.Why_Yogibo h3{
    margin: 20px 0 0 100px;
    color: #b5c0c4; 
    font-size: 15px;
    
}

.Why_Yogibo ul{
    display: flex;
    /* border: 1px solid saddlebrown; */
    padding: 50px 0px;
    width: 1000px;
    margin: 0 auto;
    color: #58b5ca; 
    
}

.Why_Yogibo li{

    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    
}

/** list 문자와 list 이미지 간격 조정**/
.Why_Yogibo li span img{ width: 30px; padding: 30px 50px 0 50px;}

.Why_Yogibo .data_down_1{margin-top: 80px;}
.Why_Yogibo .data_down_2{margin-top: 80px;}

.Why_Yogibo img{width: 100%;}


/*******************ADVANTAGE***************/
.advantage{
    height: 1000px;
    max-width: 100%;
    background-image: url(img/index/page_bg1.PNG);

}

.advantage .advantage_page{
    max-width: 100%;
    height: 800px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}

.advantage_page .page1{
    width: 300px;
    height: 100%;
   
    color: white;
}

.advantage_page .page1 h1{
    width: 100%;
    margin-top: 50px;
    padding: 50px 0;
    font-size: 35px;
}

.advantage_page .page1 p{
    width: 100%;
    font-size: 12px;
    line-height: 40px;
    
    
}
.advantage_page .page2{
    width: 850px;
    height: 100%;
    
}

.advantage_page .page2 h2{
    width: 100%;
    height: 50px;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    color: white;
}


.advantage_page .page2 #starwars{
    position: absolute;
    margin-left: 50px;
}

.advantage_page .page3{
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantage_page .page3 img{
    margin: 30px auto;
}



/*******************Yogibo_space***************/
.yogibo_space{
    height: 1100px;
    background-color:#58b5ca;
}

.yogibo_space #tab_wrab{
    width: 100%;
    height: 100%;
    /* border: 5px solid blue; */
    display: flex;
    color: white;
   
}

#tab_wrab .swiper_container{
    width: 400px;
    height: 100%;
    /* border: 5px solid saddlebrown; */
    color: white;
    
}

#tab_wrab .swiper_container h1{
    max-width: 100%;
    height: 50px;
    /* border: 5px solid white; */
    text-align: center;
    margin-top: 170px;
    font-size: 35px;
}



#tab_wrab .swiper_container ul{
    margin: 120px 120px;
}

#tab_wrab .swiper_container button{
  width: 150px;
  height: 50px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border: none;
    
 }

#tab_wrab .tab_content{
    max-width: 100%;
    height: 100%;
   
    
}

.tab_content .home{
    display: flex;
}

.tab_content .home >.content{
    width: 500px;
    height: 500px;
    /* border: 5px solid wheat; */
    margin: 20px;
}

.tab_content .content img{
    width: 100%;
    height: 100%;
}



.sub_3{
    height: 800px;
    background-color: rgb(63, 184, 85);
}

.sub_4{
    height: 800px;
    background-color: rgb(104, 206, 26);
}

.sub_5{
    height: 800px;
    background-color: rgb(79, 111, 169);
}

.sub_6{
    height: 800px;
    background-color: rgb(102, 31, 128);
}

.sub_7{
    height: 800px;
    background-color: rgb(241, 126, 26);
}

footer{
    width: 100%;
}
#footer{
    
}
