
@media screen and (max-width: 599px){

/*******************With_Yogibo***************/

#main>.with_Yogibo{
    max-height: 50%;
 }
 
 #main>.with_Yogibo h1{
     padding: 100px 50px 0 50px;
     }
 
 #main>.with_Yogibo h3{
     max-width: 80%;
     margin-left: 50px;
 }
 
 #main>.with_Yogibo>.inner ul{
    max-width: 100%;
    height: 50%;
    display: block;
 }
 
 #main>.with_Yogibo>.inner>.advantage_ist li{
     text-align: center;
    margin: 30px 30px;
    cursor: pointer;
    font-size: 40px;
    position: relative;
    z-index: 5;
 }

 #main>.with_Yogibo>#with_img{
     position: relative;
     margin-top: -50px;
     height: 150px;
     z-index: 1;
     
 }

/*******************NEW collabo***************/
.new_collabo{
    max-width: 100%;
    height: 1000px;
   background-color: #000000;
    margin-top: -7px;
}

.new_collabo>.inner>.collabo_page{
   height: 250px;
    width: 100%;
    display: block;
}

.new_collabo>.inner>.collabo_page>.page1{
    width: 100%;
    height: 100%;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 0;
    
}

.new_collabo>.inner>.collabo_page>.page1 h1{
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    font-size: 11vw;
    /* border: 2px solid saddlebrown; */
}

.new_collabo>.inner>.collabo_page>.page1 p{
    max-width: 90%;
    font-size: 2.8vw;
    line-height: 20px;
    margin: -30px 30px;
    font-family: 'SUIT-Medium';
    text-align: center;
    /* border: 2px solid seagreen; */
}
.new_collabo>.inner>.collabo_page>.page2{
  max-width: 100%;
  height: 300px;
  margin: 65px auto;
  /* border: 2px solid firebrick; */
  position: relative;
  
}
.new_collabo>.inner>.collabo_page>.page2>#starwars{
    margin-top: -20px;
    margin-left: 50px;
    z-index: 5;
    position: absolute;
    width: 40vw;
    /* border: 2px solid salmon; */
}

.new_collabo>.inner>.collabo_page>.page2>#starwars_img{
    max-width: 100%;
    margin: 0px auto;
    /* border: 2px solid saddlebrown; */

}

.collabo_page>.page3{
    max-width: 100%;
    margin: 100px auto;
    text-align: center;
}

.collabo_page .page3 img{
    width: 150px;
    cursor: pointer;
  
}


.reveal:hover{

    transition: transform .5s .25s ease-in;
    
}

 
/** list 문자와 list 이미지 간격 조정**/
.with_Yogibo>.inner>.advantage_ist img{
    display: none;
}

/*******************Yogibo_space***************/
.yogibo_space{
    height: 2300px;
    background-color:#f3f3f3;
}

.yogibo_space>.inner>#tab_wrab{
    color: #f3f3f3;
    display: block;
    height: 0;
   
}

.yogibo_space>.inner>#tab_wrab .swiper_container{
    width: 100%;
    /* border: 5px solid saddlebrown; */
    color: white;   
}

.yogibo_space>.inner>#tab_wrab>.swiper_container h1{
    max-width: 100%;
    height: 50px;
    /* border: 5px solid white; */
    text-align: center;
    padding: 80px 0;
    font-size: 50px;
    color: #58b5ca;
}



.yogibo_space>.inner>#tab_wrab .swiper_container ul{
    margin: -10px auto;
    display: flex;
    justify-content: center;
}

.yogibo_space>.inner>#tab_wrab .swiper_container button{
  width: 80px;
  height: 60px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  border-bottom: 5px solid #58b5ca;
  font-size: 12px;
    
 }

.yogibo_space>.inner>#tab_wrab>.swiper_container button:hover{
     background-color:#58b5ca;
     transition: .8s ease;
 }

.yogibo_space>.inner>#tab_wrab>.tab_content{
    margin: 300px 0px;
    
}

.yogibo_space>.inner>#tab_wrab>.tab_content>.home{
    display: block;
}

.yogibo_space>.inner>#tab_wrab>.tab_content>.home >.content{
    width: 500px;
    height: 500px;
    /* border: 5px solid wheat; */
    margin:0 auto;
    overflow: hidden;
    
}

.tab_content .content img{
    width: 100%;
    height: 100%;
    margin: 50px 0;
    /* border-radius: 90%; */
  
    
}

.home>.content>.overlay{
    position: relative;
   bottom: 93px;
    max-width: 100%;
    padding: 35px;
    font-size: 15px;
   text-align:center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    cursor: pointer;
    
}

.home>.content:hover .overlay{
    opacity: 1;
    
   
}

/*******************Our Bestsellers***************/



.our_bestsellers{
    height: 800px;
    background-color: #58b5ca;
}

.our_bestsellers>.inner h3{
    max-width: 100%;
    margin: 50px 0 0 0px;
    padding: 80px 0 0 0;
    text-align: center;
    font-size: 11vw;
    color: #f3f3f3;
    /* border: 2px solid black; */
}
.our_bestsellers>.inner p{
    max-width:100%;
    height: 50px;
    margin: 0 0px;
    text-align: center;
    color: #5f5f5f;
    font-size: 2.6vw;
    font-family: "SUIT-Medium";
    /* border: 2px solid black; */
}

.our_bestsellers>.inner>#our_container{
    /*컨텐츠위치*/
    max-width:100% ;
    max-height: 100%;
    /* border: 1px solid rgb(207, 207, 187); */
    overflow: hidden; 
    margin: 0px 60px;
    position: relative;
}


.our_bestsellers>.inner>#our_container>#step> span { 
    font-size: 25px; color:#fff;
    background: rgba(226, 226, 226, 11);
    cursor: pointer;  
    border-radius: 50%; 
    border: 1px solid #f3f3f3; 
    font-family: "SUIT-Medium";
     }
    
.our_bestsellers>.inner>#our_container>#step> span:hover {
    background: rgba(255,255,255,0.8); color:#58b5ca; 
}



.our_bestsellers>.inner>#our_container>#step>.prev { 
    position: absolute;
    top: 40%;
    left: -10px;
    padding: 10px;
  
}
    
.our_bestsellers>.inner>#our_container>#step>.next { 
    position: absolute;
    top: 42%;
    right: 0;
    padding: 10px;
   
    
}

.our_bestsellers>.inner>#our_container >#our_slide_wrab{ 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 370vw;              /*컨텐츠 컨테이너 최대 넓이*/
    box-sizing:border-box;
    margin: 50px auto;
    /* background-color: #58b5ca; */
    
}
.our_bestsellers>.inner>#our_container>#our_slide_wrab li{
    /* border: 2px solid saddlebrown; */
    width:  68vw;              /*컨텐츠 슬라이드 넓이*/
    height: 400px;
    padding: 5px;
    text-align: center;
    margin: 3vw;
}

#thumb{
    overflow: hidden;
    border-radius: 50%;
}
#thumb img{
    max-width: 100%;
    border-radius: 50%;
    
}

.our_swiper-slide>dl{
    width: 100%;

}
.slide dt{
    font-size: 15px;
    font-weight: bold;
    
    
    
}
.slide span{
    font-size: 12px;
    font-family: "SUIT-Medium";
    
}
.our_swiper-slide dd{
    font-size: 15px;
    
    
}

/*******************Our story**********/

.ourstory{
    height: 1500px;
    /* background-color: #58b5ca; */
    /* background-image: url(img/index/our_bg.png); */
    background-repeat: no-repeat;
}

/* #our_bg{
    background-image: url(img/index/our_bg.png);
    background-position: center;
    background-repeat: no-repeat;
   
} */

/* #our_tit{} */

.ourstory>#our_bg>.inner>#our_tit h1{
    width: 100%;
    font-size: 11vw;
    margin: 0px auto;
    padding: 80px 0 0 0px;
    text-align: center;
    color: #58b5ca;
    /* border: 2px solid saddlebrown; */
}
.ourstory>#our_bg>.inner>#our_tit p{
    font-size: 2.5vw;
    max-width: 60%;
    margin: 10px auto;
    color: #5f5f5f;
    text-align: center;
    font-family: "SUIT-Medium";
}

.ourstory>#our_bg>.inner>#our_wrap{
    max-width:100%;
    max-height: 100%;
    display: block;
    position: relative;
    /* border: 5px solid bisque; */
   
}

.ourstory>#our_bg>.inner>#our_wrap>.our_img{
    width: 400px;
    height: 100px;
 
    
    /* border: 2px solid saddlebrown; */
}

#our_wrap>.our_img img{
    max-width: 100%;
    top: 850px;
    right: 0;
    /* border: 1px solid saddlebrown; */
    position: absolute;
    
}
#our_wrap>.our_detail{
    max-width: 100%;
    height: 100%;
    padding: 0px 0;
    margin: -100px 0;
    /* border: 2px solid saddlebrown; */
    
}

#our_wrap>.our_detail div{
    max-width: 100%;
    /* border: 2px solid black; */
    margin: 50px auto;
    height: 100px;
    text-align: center;
   
}



#our_wrap>.our_detail h2{
    font-size: 10vw;
    color: #58b5ca;
    margin: -100px 0;
    }

#our_wrap>.our_detail>.our_list>#h2_p{
    /* border: 1px solid saddlebrown; */
    width: 100%;
    font-size: 2.8vw;
    margin: 100px 0;
    color: #5f5f5f;
    font-family: "SUIT-Medium";
    text-align: center;

}

#our_wrap>.our_detail>.our_list{
    max-width: 100%;
    margin: 150px auto;
}

#our_wrap>.our_detail>.our_list h3{
    max-width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin: -80px 0 0 0;
    color: #58b5ca;
    font-family: "SUIT-Heavy";
    text-align: center;
    

}


#our_wrap>.our_detail>.our_list>#h3_p{
    max-width: 80%;
    font-size: 2.6vw;
    margin: 10px 50px;
    color: #5f5f5f;
    font-family: "SUIT-Medium";
    position: absolute;
    text-align: center;
    /* border: 2px solid saddlebrown; */
}

.our_btn{
    width: 100px;
    height: 30px;
    border-style: none;
    background-color: #58b5ca ;
    color: #f1f1f1;
    cursor: pointer;
    margin: 70px auto;
    
    
    
    
}

}



@media screen and (min-width: 600px) and (max-width: 940px){

    /*******************NEW collabo***************/
.new_collabo{
    max-width: 100%;
    height: 1000px;
   background-color: #000000;
    margin-top: -7px;
}

.new_collabo>.inner>.collabo_page{
   height: 250px;
    width: 100%;
    display: block;
}

.new_collabo>.inner>.collabo_page>.page1{
    width: 100%;
    height: 100%;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 0;
    
}

.new_collabo>.inner>.collabo_page>.page1 h1{
    max-width: 100%;
    height: 60px;
    margin: 0px 0px 0 0px;
    font-size: 50px;
    /* border: 2px solid saddlebrown; */
}

.new_collabo>.inner>.collabo_page>.page1 p{
    max-width: 82%;
    font-size: 12px;
    line-height: 20px;
    margin: 0px 50px;
    font-family: 'SUIT-Medium';
    text-align: center;
    /* border: 2px solid seagreen; */
}
.new_collabo>.inner>.collabo_page>.page2{
  width: 90%;
  height: 300px;
  margin: 0 0px;
  
}
.new_collabo>.inner>.collabo_page>.page2>#starwars{
    margin-top: -20px;
    margin-left: 50px;
    z-index: 5;
    position: absolute;
    width: 40%;
}

.new_collabo>.inner>.collabo_page>.page2>#starwars_img{
    max-width: 100%;
    margin: 0px 20px;
    /* border: 2px solid saddlebrown; */


}

.collabo_page>.page3{
    max-width: 100%;
    margin: 120px auto;
    text-align: center;
}

.collabo_page .page3 img{
    width: 150px;
    cursor: pointer;
  
}


.reveal:hover{

    transition: transform .5s .25s ease-in;
    
}

 
/** list 문자와 list 이미지 간격 조정**/
.with_Yogibo>.inner>.advantage_ist img{
    display: none;
}

}

@media screen and (min-width: 600px) and (max-width: 1199px) {
    
/*******************With_Yogibo***************/

#main>.with_Yogibo{
   
   max-height: 100%;
}

#main>.with_Yogibo h1{
    padding: 100px 50px 0 50px;
    }

#main>.with_Yogibo h3{
    margin-left: 50px;
}

#main>.with_Yogibo>.inner ul{
    margin: 30px 0;
   max-width: 100%;
   
}

#main>.with_Yogibo>#with_img{
    height:270px;
}

/*******************NEW collabo***************/
.new_collabo{
    max-width: 100%;
    height: 1000px;
   background-color: #000000;
    margin-top: -7px;
}

.new_collabo>.inner>.collabo_page{
   height: 250px;
    max-width: 100%;
   display: flex;
   flex-direction: column;
}

.new_collabo>.inner>.collabo_page>.page1{
    width: 100%;
    color: white;
   
}

.new_collabo>.inner>.collabo_page>.page1 h1{
    width: calc(100% - 70px);
    margin: 0px 0px 0 70px;
    padding: 80px 0 0 0;
    font-size: 60px;
}

.new_collabo>.inner>.collabo_page>.page1 p{
    width:calc(100% - 140px);
    font-size: 12px;
    line-height: 20px;
    margin: 0px 70px;
    font-family: 'SUIT-Medium';
}
.new_collabo>.inner>.collabo_page>.page2{
  max-width: calc(100% - 240px);
  height: 300px;
  margin: 0 120px;
  box-sizing: border-box;
  /* border: 1px solid firebrick; */
  
}
.new_collabo>.inner>.collabo_page>.page2>#starwars{
    width: 30%;
    margin: -0px 200px;
    position: absolute;
    z-index: 5;
   
    
}

.new_collabo>.inner>.collabo_page>.page2>#starwars_img{
    width: 100%;
    margin: 20px -0px;


}

.new_collabo>.inner>.collabo_page>.page3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 200px 0;
    
}

.collabo_page .page3 img{
    margin: 10px 60px;
    
    
    
  
}


.reveal:hover{

    transition: transform .5s .25s ease-in;
    
}

/*******************Yogibo_space***************/
.yogibo_space{
    height: 1400px;
    background-color:#f3f3f3;
}

.yogibo_space>.inner>#tab_wrab{
    color: #f3f3f3;
    display: block;
    height: 0;
   
}

.yogibo_space>.inner>#tab_wrab .swiper_container{
    width: 100%;
    /* border: 5px solid saddlebrown; */
    color: white;   
}

.yogibo_space>.inner>#tab_wrab>.swiper_container h1{
    width: 100%;
    height: 50px;
    /* border: 5px solid white; */
    text-align: center;
    margin: 100px 0;
    font-size: 60px;
    color: #58b5ca;
}



.yogibo_space>.inner>#tab_wrab .swiper_container ul{
    margin: -10px auto;
    display: flex;
    justify-content: center;
}

.yogibo_space>.inner>#tab_wrab .swiper_container button{
  width: 150px;
  height: 50px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border: none;
  border-radius: 80px;
  border-bottom: 5px solid #58b5ca;
    
 }

.yogibo_space>.inner>#tab_wrab>.swiper_container button:hover{
     background-color:#58b5ca;
     transition: .8s ease;
 }

.yogibo_space>.inner>#tab_wrab>.tab_content{
    margin: 380px 0;
    
}

.tab_content .home{
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
}

.yogibo_space>.inner>#tab_wrab>.tab_content>.home >.content{
    max-width: calc(100% - 100px);
    height: 400px;
    /* border: 5px solid wheat; */
    margin: -40px 50px 0 50px;
    overflow: hidden;
    
}

.tab_content .content img{
    width: 100%;
    height: 100%;
    /* border-radius: 90%; */
  
    
}

.home>.content .overlay{
    position: relative;
   bottom: 93px;
    max-width: 100%;
    padding: 35px;
    font-size: 15px;
   text-align:center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    cursor: pointer;
    
}

.home>.content:hover .overlay{
    opacity: 1;
    
   
}


.our_bestsellers{
    height: 900px;
    background-color: #58b5ca;
}

.our_bestsellers>.inner h3{
    margin: 0px 0 0 100px;
    padding: 130px 0 0 0;
    font-size: 50px;
    color: #f3f3f3;
    /* border: 2px solid black; */
}
.our_bestsellers p{
    max-width: 100%;
    height: 50px;
    margin: 20px 0 0 100px;
    color: #5f5f5f;
    font-size: 15px;
    font-family: "SUIT-Medium";
    /* border: 2px solid black; */
}

.our_bestsellers>.inner>#our_container{
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid beige; */
    overflow: hidden; 
    margin: -20px;
}

#our_container>#step{
    width: 100%;
    text-align: right;
    margin: 50px -100px;
   
}

#step > span { font-size: 20px; color:#fff;
        background: rgba(226, 226, 226, 0.6); cursor: pointer;  
         border-radius: 50%; border: 1px solid #f3f3f3; font-family: "SUIT-Medium";
     }
    
#step> span:hover {background: rgba(255,255,255,0.8); color:#58b5ca; }

#step >.prev { padding: 5px; margin: 10px; }
    
#step >.next { padding:5px;}

#our_container>#our_slide_wrab{ 
    display: flex;
    align-items: center;
    justify-content: center;

    /* max-width: 324px; */
    width: 100%;              /*컨텐츠 컨테이너 최대 넓이*/
    box-sizing:border-box;
    margin: 20px 0;
    /* background-color: #58b5ca; */
    
}
#our_slide_wrab li{
    /* border: 2px solid saddlebrown; */
    width:  200%;              /*컨텐츠 슬라이드 넓이*/
    height: 400px;
    padding: 20px;
    text-align: center;
    margin: 5px;
    /* background-color: #58b5ca; */
    
}

#thumb{
    overflow: hidden;
    border-radius: 50%;
}
#thumb img{
    max-width: 100%;
    border-radius: 50%;
    
}

.our_swiper-slide>dl{
    width: 100%;

}
.slide dt{
    font-size: 15px;
    font-weight: bold;
    
    
}
.slide span{
    font-size: 12px;
    font-family: "SUIT-Medium";
}
.our_swiper-slide dd{
    font-size: 15px;
    
}

/*******************Our story**********/

.ourstory{
    height: 1000px;
    /* background-color: #58b5ca; */
    /* background-image: url(img/index/our_bg.png); */
    background-repeat: no-repeat;
}

/* #our_bg{
    background-image: url(img/index/our_bg.png);
    background-position: center;
    background-repeat: no-repeat;
   
} */

/* #our_tit{} */

.ourstory>#our_bg>.inner>#our_tit h1{
    width: 100px;
    font-size: 40px;
    margin: 0px 0 0 100px;
    padding: 100px 0 0 0;
    color: #58b5ca;
}
.ourstory>#our_bg>.inner>#our_tit p{
    font-size: 13px;
    margin: 10px 0 50px 100px;
    color: #5f5f5f;
    font-family: "SUIT-Medium";
}

.ourstory>#our_bg>.inner>#our_wrap{
    max-width:100%;
    max-height: 100%;
    /* border: 5px solid bisque; */
    display: flex;
}

.ourstory>#our_wrap>.our_img{
    width: 500px;
    height: 100px;
    /* border: 2px solid saddlebrown; */
}

#our_wrap>.our_img img{
    width: 400px;
    margin: 0 0 0 50px;
}
.our_detail{
    width: 1000px;
    height: 700px;
    /* border: 2px solid saddlebrown; */
    
}

#our_wrap>.our_detail div{
    max-width: 500px;
    /* border: 2px solid black; */
    margin: -20px auto;
}

#our_wrap>.our_detail h2{
    font-size: 25px;
    color: #58b5ca;
    }

#h2_p{
font-size: 13px;
margin: 5px 0;
color: #5f5f5f;
font-family: "SUIT-Medium";
}

#our_wrap>.our_detail h3{
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0;
    color: #58b5ca;
    font-family: "SUIT-Heavy";
}

.ourstory>#our_wrap>#h3_p{
    font-size: 13px;
    margin: 0px 0 10px;
    color: #5f5f5f;
    font-family: "SUIT-Medium";
}

.our_btn{
    width: 100px;
    height: 30px;
    border-style: none;
    background-color: #58b5ca ;
    color: #f1f1f1;
    cursor: pointer;
}

}


@media screen and (min-width:1200px){
    .collabo_page .page3{
        width: 200px;
        height: 100%;
        display: flex;
        margin: 100px 0;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .collabo_page .page3 img{
        max-width: 100%;
    }

    #our_container>#step{
        width: 100%;
        text-align: right;
        margin: 50px -100px;
       
    }
}

/**메인 배경화면 시작**/
#main_bg{
    background-image:url(img/index/bg_on2.png);
    width: 100%;
    height: 1000px;
    position:fixed;
    z-index: -1;
    background-position: center;
}


#header_main>.large{
    max-width: 100%;
    height: 350px;
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-top: 620px;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-attachment: fixed;
}



#header_main>.large>h1{
    
    font-size: 130px;
    font-weight: bold;
    margin: 0 auto;
    line-height: 130px;
    color: #f3f3f3;
   
}

#header_main>.large span{
    color: #58b5ca;
    font-size: 180px;
}


#header_main>.large>p{
    font-size: 20px;
    color: #f3f3f3;
    font-family: 'SUIT-Medium';
  
    
    /* font-family: 'SUIT-Heavy'; */
}



/*******************With_Yogibo***************/

#main{
    box-sizing: border-box;
    background-color: #f3f3f3;   
}


.with_Yogibo .inner{ 
    background-color:#f3f3f3; 
    max-height: 100%;
    margin: 0 auto;

}

.with_Yogibo h1{
    max-width: 100%;
    /* border: 1px solid beige; */
    font-size: 50px;
    padding: 100px 0 0 100px;
    color: #58b5ca; 
    
    
}

.with_Yogibo h3{
    margin: 20px 0 0 100px;
    color: #5f5f5f; 
    font-size: 15px;
    font-family: 'SUIT-Heavy';
    
}

.with_Yogibo ul{
    display: flex;
    /* border: 1px solid saddlebrown; */
    padding: 50px 0px;
    width: 100%;
    margin: 0 auto;
    color: #58b5ca; 
    
}

.with_Yogibo li{

    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    
}

/** list 문자와 list 이미지 간격 조정**/
.with_Yogibo li span img{ width: 30px; padding: 30px 50px 0 50px;}

.with_Yogibo .data_down_1{margin-top: 80px;}
.with_Yogibo .data_down_2{margin-top: 80px;}

.with_Yogibo img{width: 100%;}


/*******************NEW collabo***************/
.new_collabo{
    height: 1000px;
    max-width: 100%;
    background-color: black;
    margin-top: -7px;
}

.new_collabo .collabo_page{
    max-width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    
}

.collabo_page .page1{
    width: 300px;
    height: 100%;  
    color: white;
}

.collabo_page .page1 h1{
    width: 100%;
    margin-top: 50px;
    padding: 40px 0;
    margin: 550px 20px 0 50px;
    font-size: 100px;
}

.collabo_page .page1 p{
    width:800px;
    font-size: 12px;
    line-height: 20px;
    margin: -60px 70px;
    font-family: 'SUIT-Medium';
}
.collabo_page .page2{
    width: 800px;
    height: 100%;
    
}

.collabo_page .page2 #starwars{
    margin-left: 30px;
    margin-top: 90px;
    z-index: 5;
    position: absolute;
    
}

.collabo_page .page2 #starwars_img{
    margin-left: -60px;
    margin-top: 130px;
    max-width: 100%;
}

/* .collabo_page .page3{
    width: 200px;
    height: 100%;
    display: flex;
    margin: 100px 0;
    flex-direction: column;
    justify-content: space-between;
}

.collabo_page .page3 img{
    max-width: 100%;
} */


.reveal:hover{

    transition: transform .5s .25s ease-in;
    
}


/*******************Yogibo_space***************/

.yogibo_space #tab_wrab{
    width: 100%;
    height: 100%;
    /* border: 5px solid blue; */
    display: flex;
    color: #f3f3f3;
   
}

#tab_wrab .swiper_container{
    width: 400px;
    height: 100%;
    /* border: 5px solid saddlebrown; */
    color: white;
    
}

#tab_wrab .swiper_container h1{
    max-width: 100%;
    height: 50px;
    /* border: 5px solid white; */
    text-align: center;
    margin-top: 170px;
    font-size: 50px;
    color: #58b5ca;
}



#tab_wrab .swiper_container ul{
    margin: 120px 120px;
}

#tab_wrab .swiper_container button{
  width: 150px;
  height: 50px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border: none;
  border-radius: 80px;
  border-bottom: 5px solid #58b5ca;
    
 }

 #tab_wrab .swiper_container button:hover{
     background-color:#58b5ca;
     transition: .8s ease;
 }

#tab_wrab .tab_content{
    max-width: 100%;
    height: 100%;
   
    
}

.tab_content .home{
    display: flex;
}

.tab_content .home >.content{
    max-width:100%;
    height: 400px;
    /* border: 5px solid wheat; */
    margin: 50px;
    overflow: hidden;
    
}

.tab_content .content img{
    width: 100%;
    height: 100%;
    /* border-radius: 90%; */
  
    
}

.home>.content .overlay{
    position: relative;
   bottom: 93px;
    max-width: 100%;
    padding: 35px;
    font-size: 15px;
   text-align:center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    cursor: pointer;
    
}

.home>.content:hover .overlay{
    opacity: 1;
    
   
}


/*******************Our Bestsellers***************/



.our_bestsellers{
    /*height: 1100px;*/
    background-color: #58b5ca;
}

.our_bestsellers h3{
    margin: 0px 0 0 100px;
    padding: 180px 0 0 0;
    font-size: 50px;
    color: #f3f3f3;
    /* border: 2px solid black; */
}
.our_bestsellers p{
    max-width: 100%;
    height: 50px;
    margin: 20px 0 0 100px;
    color: #5f5f5f;
    font-size: 15px;
    font-family: "SUIT-Medium";
    /* border: 2px solid black; */
}

#our_container{
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid beige; */
    overflow: hidden; 
}

/* #our_container>#step{
    width: 100%;
    text-align: right;
    margin: 50px -100px;
   
} */

#step > span { font-size: 20px; color:#fff;
        background: rgba(226, 226, 226, 0.6); cursor: pointer;  
         border-radius: 50%; border: 1px solid #f3f3f3; font-family: "SUIT-Medium";
     }
    
#step> span:hover {background: rgba(255,255,255,0.8); color:#58b5ca; }

#step >.prev { padding: 5px; margin: 10px; }
    
#step >.next { padding:5px;}

#our_container >#our_slide_wrab{ 
    display: flex;
    align-items: center;
    justify-content: center;

    /* max-width: 324px; */
    width: 1875px;              /*컨텐츠 컨테이너 최대 넓이*/
    /* border: 2px solid; */
    box-sizing:border-box;
    margin: 50px 0;
    /* background-color: #58b5ca; */
    
}
#our_slide_wrab li{
    /* border: 2px solid saddlebrown; */
    width:  20%;              /*컨텐츠 슬라이드 넓이*/
    height: 400px;
    padding: 20px;
    text-align: center;
    margin: 5px;
    /* background-color: #58b5ca; */
    
}

#thumb{
    overflow: hidden;
    border-radius: 50%;
}
#thumb img{
    max-width: 100%;
    border-radius: 50%;
    
}

.our_swiper-slide>dl{
    width: 100%;

}
.slide dt{
    font-size: 15px;
    font-weight: bold;
    
    
}
.slide span{
    font-size: 12px;
    font-family: "SUIT-Medium";
}
.our_swiper-slide dd{
    font-size: 15px;
    
}

/*******************Our story**********/

.ourstory{
    /* background-color: #58b5ca; */
    /* background-image: url(img/index/our_bg.png); */
    background-repeat: no-repeat;
}

/* #our_bg{
    background-image: url(img/index/our_bg.png);
    background-position: center;
    background-repeat: no-repeat;
   
} */

/* #our_tit{} */

#our_tit h1{
    width: 100px;
    font-size: 50px;
    margin: 250px 0 0 100px;
    color: #58b5ca;
}
#our_tit p{
    font-size: 15px;
    margin: 10px 0 50px 100px;
    color: #5f5f5f;
    font-family: "SUIT-Medium";
}

#our_wrap{
    max-width:100%;
    max-height: 100%;
    /* border: 5px solid bisque; */
    display: flex;
}

.our_img{
    width: 1000px;
    height: 700px;
    /* border: 2px solid saddlebrown; */
}

.our_img img{
    margin: 0 0 0 200px;
}
.our_detail{
    width: 1000px;
    height: 700px;
    /* border: 2px solid saddlebrown; */
    
}

.our_detail div{
    max-width: 500px;
    height: 130px;
    /* border: 2px solid black; */
    margin: -20px auto;
}

.our_detail h2{
    font-size: 30px;
    color: #58b5ca;
}

#h2_p{
font-size: 13px;
margin: 5px 0;
color: #5f5f5f;
font-family: "SUIT-Medium";
}

.our_detail h3{
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0;
    color: #58b5ca;
    font-family: "SUIT-Heavy";
}

#h3_p{
    font-size: 13px;
    margin: -20px 0 10px;
    color: #5f5f5f;
    font-family: "SUIT-Medium";
}

.our_btn{
    width: 100px;
    height: 30px;
    border-style: none;
    background-color: #58b5ca ;
    color: #f1f1f1;
    cursor: pointer;
}



