@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@font-face {
    font-family: 'SUIT-Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/***********************************************************
■ Basic : 기본
************************************************************/
*{margin: 0; padding: 0; }
ul,ol,li{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: #26282B;}
*{font-family: 'Secular One', sans-serif;}



/***********************************************************
■ Layout : 레이아웃
************************************************************/

#thema_wrapper{
    width: 100%;
}

#At-header{
    width: 100%;
    height: 1000px;
    /* background-color: rgb(140, 166, 196);    */
    /* background-image: url(img/index/bg_on.png);  */
    background-repeat: no-repeat;
    background-size: 100%;
}


.header_inner{
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255,0.7);
    display: flex;
    justify-content:space-around; 
    align-items: center;
    padding: 8px 12px;
    
}

.logo img{
    height: 100%;
    width: 150px;
    
 }

.navbar_menu ul{
    display: flex;
    
}

.navbar_menu li{
    padding: 8px 20px;;
    font-size: 15px;
    /* font-weight: bold; */
    
}

.navbar_icons{
    display: flex;
}

.navbar_icons li{
    padding: 10px 12px;
}

/**메인 배경화면 시작**/
#main_bg{
    background-image:url(img/index/bg_on2.png);
    width: 100%;
    height: 1000px;
    position:fixed;
    z-index: -1;
    background-position: center;
}


#header_main>.large{
    max-width: 100%;
    height: 350px;
    /* border: 2px solid black; */
    margin: 0 auto;
    margin-top: 620px;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-attachment: fixed;
}



#header_main>.large>h1{
    
    font-size: 130px;
    font-weight: bold;
    margin: 0 auto;
    line-height: 130px;
    color: #f3f3f3;
   
}

#header_main>.large span{
    color: #58b5ca;
    font-size: 180px;
}


#header_main>.large>p{
    font-size: 20px;
    color: #f3f3f3;
    font-family: 'SUIT-Medium';
  
    
    /* font-family: 'SUIT-Heavy'; */
}




/*******************공통 inner***************/

.inner{ 
    max-width: 1500px; 
    height: 100%;
    /* border: 1px solid white;  */
    margin: 0 auto;
    
}




/*******************Why_Yogibo***************/


#main{
    box-sizing: border-box;
    background-color: #f3f3f3;   
}


.Why_Yogibo .inner{ 
    background-color:#f3f3f3; 
    height: 500px;
    margin: 0 auto;

}

.Why_Yogibo h1{
    max-width: 100%;
    /* border: 1px solid beige; */
    font-size: 50px;
    padding: 100px 0 0 100px;
    color: #58b5ca; 
    
    
}

.Why_Yogibo h3{
    margin: 20px 0 0 100px;
    color: #5f5f5f; 
    font-size: 15px;
    font-family: 'SUIT-Heavy';
    
}

.Why_Yogibo ul{
    display: flex;
    /* border: 1px solid saddlebrown; */
    padding: 50px 0px;
    width: 100%;
    margin: 0 auto;
    color: #58b5ca; 
    
}

.Why_Yogibo li{

    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    
}

/** list 문자와 list 이미지 간격 조정**/
.Why_Yogibo li span img{ width: 30px; padding: 30px 50px 0 50px;}

.Why_Yogibo .data_down_1{margin-top: 80px;}
.Why_Yogibo .data_down_2{margin-top: 80px;}

.Why_Yogibo img{width: 100%;}


/*******************NEW collabo***************/
.new_collabo{
    height: 1000px;
    max-width: 100%;
    background-image: url(img/index/page_bg1.PNG);
}

.new_collabo .collabo_page{
    max-width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    
}

.collabo_page .page1{
    width: 300px;
    height: 100%;  
    color: white;
}

.collabo_page .page1 h1{
    width: 100%;
    margin-top: 50px;
    padding: 40px 0;
    margin: 600px 20px 0 50px;
    font-size: 100px;
}

.collabo_page .page1 p{
    width:800px;
    font-size: 12px;
    line-height: 20px;
    margin: -60px 70px;
    font-family: 'SUIT-Medium';
}
.collabo_page .page2{
    width: 800px;
    height: 100%;
    
}

.collabo_page .page2 #starwars{
    margin-left: 30px;
    margin-top: 160px;
    z-index: 5;
    position: absolute;
    
}

.collabo_page .page2 #starwars_img{
    margin-left: -60px;
    margin-top: 220px;
    max-width: 100%;
}

.collabo_page .page3{
    width: 200px;
    height: 100%;
    display: flex;
    margin: 100px 0;
    flex-direction: column;
    justify-content: space-between;
}

.collabo_page .page3 img{
    max-width: 100%;
}


.reveal:hover{

    transition: transform .5s .25s ease-in;
    
}


/*******************Yogibo_space***************/
.yogibo_space{
    height: 1100px;
    background-color:#f3f3f3;
}

.yogibo_space #tab_wrab{
    width: 100%;
    height: 100%;
    /* border: 5px solid blue; */
    display: flex;
    color: #f3f3f3;
   
}

#tab_wrab .swiper_container{
    width: 400px;
    height: 100%;
    /* border: 5px solid saddlebrown; */
    color: white;
    
}

#tab_wrab .swiper_container h1{
    max-width: 100%;
    height: 50px;
    /* border: 5px solid white; */
    text-align: center;
    margin-top: 170px;
    font-size: 50px;
    color: #58b5ca;
}



#tab_wrab .swiper_container ul{
    margin: 120px 120px;
}

#tab_wrab .swiper_container button{
  width: 150px;
  height: 50px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border: none;
  border-radius: 80px;
  border-bottom: 5px solid #58b5ca;
    
 }

 #tab_wrab .swiper_container button:hover{
     background-color:#58b5ca;
     transition: .8s ease;
 }

#tab_wrab .tab_content{
    max-width: 100%;
    height: 100%;
   
    
}

.tab_content .home{
    display: flex;
}

.tab_content .home >.content{
    width: 500px;
    height: 500px;
    /* border: 5px solid wheat; */
    margin: 20px;
    overflow: hidden;
    
}

.tab_content .content img{
    width: 100%;
    height: 100%;
    border-radius: 90%;
  
    
}

.home>.content .overlay{
    position: relative;
   bottom: 93px;
    max-width: 100%;
    padding: 35px;
    font-size: 15px;
   text-align:center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity: 0;
    cursor: pointer;
    
}

.home>.content:hover .overlay{
    opacity: 1;
    
   
}


/*******************Our Bestsellers***************/



.our_bestsellers{
    height: 1100px;
    background-color: #58b5ca;
}

.our_bestsellers h3{
    margin: 0px 0 0 100px;
    padding: 180px 0 0 0;
    font-size: 50px;
    color: #f3f3f3;
    /* border: 2px solid black; */
}
.our_bestsellers p{
    max-width: 100%;
    height: 50px;
    margin: 20px 0 0 100px;
    color: #5f5f5f;
    font-size: 15px;
    font-family: "SUIT-Medium";
    /* border: 2px solid black; */
}

#our_container{
    max-width: 100%;
    max-height: 100%;
    /* border: 1px solid beige; */
    overflow: hidden; 
}

#our_container>#step{
    width: 100%;
    text-align: right;
    margin-top: 50px ;
    margin: 0 -100px;
}

#step > span { font-size: 38px; color:#fff; line-height: 40px; ;
        background: rgba(184, 184, 184, 0.6); cursor: pointer;  
        transform: translateY(-50%); max-width: 100%;
     }
    
#step> span:hover {background: rgba(255,255,255,0.8); color:#000;}

#step >.prev { padding: 5px; margin: 10px;}
    
#step >.next { padding:5px;}

#our_container >#our_slide_wrab{ 
    display: flex;
    align-items: center;
    justify-content: center;

    /* max-width: 324px; */
    width: 1875px;              /*컨텐츠 컨테이너 최대 넓이*/
    /* border: 2px solid; */
    box-sizing:border-box;
    margin: 50px 0;
    /* background-color: #58b5ca; */
    
}
#our_slide_wrab li{
    /* border: 2px solid saddlebrown; */
    width:  20%;              /*컨텐츠 슬라이드 넓이*/
    height: 400px;
    padding: 20px;
    text-align: center;
    margin: 5px;
    /* background-color: #58b5ca; */
    
}

#thumb{
    overflow: hidden;
    border-radius: 50%;
}
#thumb img{
    max-width: 100%;
    border-radius: 50%;
    
}

.our_swiper-slide>dl{
    width: 100%;

}
.slide dt{
    font-size: 15px;
    font-weight: bold;
    
    
}
.slide span{
    font-size: 12px;
    font-family: "SUIT-Medium";
}
.our_swiper-slide dd{
    font-size: 15px;
    
}

/*******************Our Bestsellers**********/

.ourstory{
    height: 1100px;
    /* background-color: #58b5ca; */
    /* background-image: url(img/index/our_bg.png); */
    background-repeat: no-repeat;
}

/* #our_bg{
    background-image: url(img/index/our_bg.png);
    background-position: center;
    background-repeat: no-repeat;
   
} */

/* #our_tit{} */

#our_tit h1{
    width: 100px;
    font-size: 50px;
    margin: 160px 0 0 100px;
    color: #58b5ca;
}
#our_tit p{
    font-size: 15px;
    margin: 10px 0 50px 100px;
    color: #5f5f5f;
    font-family: "SUIT-Medium";
}

#our_wrap{
    max-width:100%;
    max-height: 100%;
    border: 5px solid bisque;
    display: flex;
}

.our_img{
    width: 500px;
    height: 700px;
    border: 2px solid saddlebrown;
}
.our_detail{
    width: 1000px;
    height: 700px;
    border: 2px solid saddlebrown;
    
}

.our_detail div{
    max-width: 500px;
    height: 130px;
    /* border: 2px solid black; */
    margin: 0 auto;
}

.our_detail h2{
    font-size: 30px;
    color: #58b5ca;
}

#h2_p{
font-size: 13px;
margin: 5px 0;
color: #5f5f5f;
font-family: "SUIT-Medium";
}

.our_detail h3{
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0;
    color: #58b5ca;
    font-family: "SUIT-Heavy";
}

#h3_p{
    font-size: 13px;
    margin: -20px 0 10px;
    color: #5f5f5f;
    font-family: "SUIT-Medium";
}

.our_btn{
    width: 100px;
    height: 30px;
    border-style: none;
    background-color: #58b5ca ;
    color: #f1f1f1;
    cursor: pointer;
}


footer{
    width: 100%;
}
#footer{
    height: 200px;
    background-color: #474747;
}
